/* ********************************* */
/* *** SKDV COMFYUI  EXT STYLING *** */
/* ********************************* */


.skdv-full-height-btn {
  height: 100%;
}

.skdv_json_display>div:last-child {
  height: 65vh;
  overflow-y: scroll;
}

.skdv-button-height {
  height: 39.594px;
}

.skdv-align-button-bottom {
  align-self: end;
}

.skdv-connection-status,
.skdv-connection-status>div:first-child {
  height: 39.594px;
}

.skdv-connection-status>div:last-child {
  height: 39.594px;
  padding: 0;
}

.skdv-connection-status>div:last-child>h2 {
  font-size: 14px;
  text-align: left;
  border-radius: var(--block-radius);
  height: 39.594px;
  padding: 0;
}

.skdv-typing-dots {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.skdv-typing-dots>span {
  background: rgb(0, 9, 36);
  background: linear-gradient(90deg, rgba(0, 9, 36, 1) 0%, rgba(0, 145, 208, 1) 100%);
}

.skdv-generated-image:hover {
  cursor: pointer;
}

.skdv-image-previewer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skdv-expanded-image {
  width: auto;
  height: auto;
  max-height: 70%;
  max-width: 90%;
}

.skdv-close-image {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.skdv-close-image:hover {
  cursor: pointer;
}

.skdv-download-update-btn {
  min-width: 0 !important;
  max-width: 402px;
  height: 39.594px;
  align-self: center;
}

.skdv-ext-version {
  text-align: center;
}

.skdv-ext-version > p {
  color: rgba(255, 255, 255, 0.25) !important;
}

.skdv-ext-update {
  text-align: center;
}

.skdv-ext-update > p {
  color: rgba(255, 255, 255, 0.65) !important;
}